/* frontend/src/Calendar.css */

.Calendar {
    background-color: #7bb97e; /* Changed background color to green */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px; /* Reduced padding */
    font-family: Arial, sans-serif;
    transition: all 0.3s ease-in-out;
    margin: auto;
    width: fit-content;
    border-radius: 5px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the calendar cells */
.Calendar .MuiPickersCalendar-week {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* Add a border to the bottom of each week */
}

.Calendar .MuiPickersCalendar-day {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Reduced height for the cells */
    border-radius: 50%; /* Make the cells circular */
}

/* Style the selected day */
.Calendar .MuiPickersCalendar-daySelected {
    background-color: #ffffff; /* Change the background color of the selected day to white */
    color: #4caf50; /* Change the text color of the selected day to green */
}

.toggle-calendar-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 20px 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

.toggle-calendar-button:hover {
  background-color: #45a049;
}