/* Navbar.css */

/* This will style the entire Navbar */
.bg-body-tertiary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* This will style the "Data 1" button */
.data-button {
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

/* This will style the "Check if frequency is available" button */
.check-frequency-button {
    margin-right: auto;
    margin-left: 20px; /* New property to add space to the left of the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Updated class for the "Go_Innit" button */
.Go_Innit {
    margin-right: auto;
    margin-left: 20px; /* New property to add space to the left of the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}